@CHARSET "UTF-8";
.search {
	width: 600px;
	height: 30px;
	border-style:solid;
	font: 16px arial, sans-serif;
	text-indent:5px;
	}
	
div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;
}
.button {
	border-style: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 7px;
	border-radius:2px;
}
