<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IRProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.se.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultsServlet</display-name>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>com.se.servlets.ResultsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchResult</display-name>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>com.se.data.SearchResult</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Document</display-name>
    <servlet-name>Document</servlet-name>
    <servlet-class>com.se.data.Document</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsServlet</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
</web-app>